---
import BaseLayout from "~/layouts/BaseLayout";
import Header from "~/components/Header";
import Footer from "~/components/Footer";

const {
  title = "Portfolio – Gaëtan Goguel de Toux",
  description = "Portfolio de Gaëtan Goguel de Toux.",
} = Astro.props;
---

<BaseLayout {title} {description}>
  <div class="page-root">
    <Header />

    <main class="page-main">
      <slot />
    </main>

    <Footer />
  </div>
</BaseLayout>
